.contents {
  background-color: var(--panel);
  padding: 4rem;
}

.workspace-name {
  background-color: var(--panel);
  border: none;
  color: white;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

#editor {
  position: relative;
}
