.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: var(--secondary);
  position: relative;
  z-index: 111;
  width: var(--sidebar-w);
  overflow: hidden; /* 컨테이너 크기가 줄어들 때 내부 요소 숨김 */
  transition: transform 0.3s ease-in-out;
}

/* 워크스페이스 정보 및 열고 닫기 토글 */
.sidebar.is-toggle {
  transform: translateX(-100%);
}

.side-menu {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 100%;
}

.side-profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
}

.side-profile:hover {
  background-color: var(--button-hover);
}

.workspace-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-logo-container {
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.workspace-info > h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.nav-controls-buttons {
  display: flex;
}

.nav-controls-buttons > button {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.nav-toggle-button:hover {
  background-color: var(--button-hover);
}

.sidebar-open-toggle {
  background-color: var(--secondary);
}

.sidebar-open-toggle button {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.sidebar-open-toggle:hover {
  background-color: var(--button-hover);
}

/* 손쉬운 접근성 */
.easy-side-controls ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.easy-side-controls li {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 5px;
  cursor: pointer;
}

.easy-side-controls li:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
}

/* 즐겨찾기 */
.side-favorite h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #9b9b9b;
}

/* 워크스페이스 */
.workspace h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #9b9b9b;
}

.work-space-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.workspace-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  gap: 8px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.workspace-item:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
}

.add-page-button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 5px;
  color: var(--muted);
}

.add-page-button-container:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
  cursor: pointer;
}

/* 개인 페이지 */
.personal-space h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--muted);
}

.personal-space-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* 새 페이지 생성 모달 */
.create-workspace-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
}

.create-workspace-modal-contents {
  width: 50%;
  height: 50%;
  background-color: var(--secondary);
  padding: 1rem 2rem;
  border-radius: 12px;
}

.new-page-button-container {
  border: 1px solid var(--muted);
  background-color: inherit;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  width: 100%;
  color: var(--muted);
  fill: var(--muted);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  cursor: pointer;
}

.workspace-item button {
  background: none;
  border: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.workspace-item button:hover {
  background-color: var(--button-hover);
}

.workspace-item > :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.workspace-item > :nth-child(2) {
  display: flex;
  justify-self: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  border-radius: 0.375rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.workspace-item:hover > :nth-child(2) {
  opacity: 1;
  visibility: visible;
}

.workspace-item-name {
  font-weight: 500;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
  color: var(--muted);
  background: none;
  border: none;
}

.workspace-dropdown-menu,
.add-child-button {
  transition: fill 0.2s ease-in-out;
}

.open-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 0.5rem;
  z-index: var(--z-dropdown);
  min-width: 150px;
}

/* Dropdown Menu Styles */
.workspace-item-dropdown {
  position: absolute;
  background-color: var(--secondary);
  border: 1px solid var(--muted);
  border-radius: 6px;
  padding: 0.5rem;
  z-index: 120;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.workspace-item-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: var(--muted);
  cursor: pointer;
  border-radius: 4px;
}

.workspace-item-dropdown button:hover {
  background-color: var(--button-hover);
  color: #fff;
}