.side-item-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #444;
}

.chatting-room,
.participants {
  padding: 0.5rem 0;
  cursor: pointer;
}

.chatting-room:hover,
.participants:hover {
  background-color: #333;
}
