.app {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* 헤더 영역 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: #2a2b2d;
}
.header__title {
  font-size: 16px;
  margin: 0;
}

/* 메인 영역 */
.meeting {
  display: grid;
  padding: 16px;
}

/* 비디오 그리드 */
.video-grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 1), 1fr);
  justify-content: center;
  align-content: center;
}

/* 참가자 */
.participant {
  position: relative;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}
.participant__media {
  position: relative;
  aspect-ratio: 16 / 9;
  background: #000;
}
.participant__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.participant__meta {
  position: absolute;
  bottom: 6px;
  left: 6px;
  display: flex;
  align-items: end;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-size: 16px;
}
.icon-mic-off {
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.participant--self.is-mic-off .icon-mic-off {
  display: inline-block;
}

/* 네비게이션 영역 */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #1a1a1a;
  transform: translateY(100%);
  transition: transform 0.2s ease;
}
.toolbar--visible {
  transform: translateY(0);
}

.toolbar__group {
  display: flex;
  gap: 8px;
}

.toolbar__group--center {
  margin: 0 auto;
}
.toolbar__btn {
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 6px 25px;
}
.toolbar__btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.toolbar__btn > img {
  width: 40px;
  height: 40px;
}
