/* 사이드 패널 */
.side-panel {
  background: #111111;
  display: none;
  padding: 8px;
}
.app--panel-open .side-panel {
  display: block;
}

.side-panel__sections {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #111;
}
.side-panel__section {
  position: relative;
  display: none;
  border-radius: 10px;
  background: #fff;
  overflow: auto;
  z-index: 10;
}
.side-panel__section.is-open {
  display: flex;
  flex-direction: column;
}

.side-panel--split .side-panel__sections {
  gap: 8px;
}
.side-panel--single .side-panel__section.is-open {
  flex: 1 1 100%;
}
.side-panel--split .side-panel__section.is-open {
  flex: 1 1 50%;
}

.panel__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 235, 238);
  padding: 10px 0;
  font-weight: 600;
}
.btn-close {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
}
.panel__footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

/* 참가자 영역 패널 */
.panel__participants--list {
  display: flex;
  padding: 0 15px;
  gap: 20px;
}
.panel__participants--profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.panel__participants--control {
  display: flex;
  justify-items: end;
}

/* 채팅 영역 패널 */
.side-panel__section--chat .panel__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  gap: 8px;
  padding: 8px;
}
.message {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.message__avatar {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
.message__text {
  background: #f1f1f1;
  padding: 6px 10px;
  border-radius: 10px;
  max-width: 100%;
  display: inline-block;
  width: fit-content;
  word-break: break-word;
  white-space: pre-wrap;
}
.message--me .message__text {
  background: #cce5ff;
}
.message--me .message__sender {
  color: #666;
}
.message__sender {
  color: rgb(60, 60, 255);
}
.message__time {
  font-size: 11px;
  color: #666;
}

.chat__form {
  border-top: 1px solid #e5e7eb;
}
.chat__input {
  border: none;
  resize: none;
  padding: 10px;
  width: 100%;
  height: 80px;
}
.chat__input:focus {
  outline: none;
}
