.custom-button {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #444;
}
