@import './components/PeopleCam/peopleCam.css';
@import './components/Button/button.css';
@import './components/MainContent/mainContent.css';
@import './components/MainCam/mainCam.css';

body,
html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #1c1c1c;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 5px 2rem;
    background-color: hsl(0, 0%, 16%);
}

.footer {
    padding: 1rem;
    background-color: #1c1c1c;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
