*{
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
body{
    height:100vh;
    width: 100vw;
    font-size: 16px;
    color:#fff;
    background-color: #000000;
    line-height: 1.7rem;
}

.wrap{position: relative;}


header{
    position: relative;
    height: 65px; 
    background-color:#2a2b2d; 
}
/* 로고 */
header div:nth-child(1){
    position: absolute;
    left:10px; 
    top:15px;
    width:200px;
}

/* 탭 */
header div:nth-child(2){
    height:65px;
    background-image: url("img/1-1.png"); 
    background-position: left top;
    background-repeat: no-repeat;
}


/* 로그인 */
header div:nth-child(3){
    position: absolute;
    top:5px;
    right: 0;
    width:638px; 
    height:65px;
    background-color: #2a2b2d;
    background-image: url("img/1-2.png"); 
    background-position: right top;
    background-repeat: no-repeat;
}

.container{
    position: relative;
    height: calc(100vh - 65px);
    width: 100vw;
}

main {
    width: calc(100% - 300px);
    height: 100%;
}

/* 멤버목록 */
.member_list{
    width:100%;
    height:110px; 
    background-color:#131619; 
    background-image: url("img/2.png"); 
    background-size: auto 110px;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 큰화면 */
section{
    /* width: 100%; */
    height: calc(100vh - 110px);
    background-color:#131619; 
    background-image: url("img/3.png"); 
    background-size: 70vh;
    background-position: center top;
    background-repeat: no-repeat;
}

/* chat */
aside{
    position: absolute;
    right: 0;
    width: 300px; 
    height: calc(100vh - 73px  - 65px);
    background-color:#ffffff;
    border:1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #000000;
}

/* 하단메뉴 */
footer{
    position: fixed;
    bottom:0; 
    width: 100%; 
    height:70px;
}

nav{position: relative;
    left:300px;
    width: calc(100% - 450px);
    height:inherit;
    background-color:rgb(133, 30, 158);
}

nav ul li{
    display: inline-block;
    width:100px; 
    height:73px;
    text-align: center;
    line-height: 40px;
    margin-right: 8px;
  }

footer .left{
    position: absolute; 
    left:0;
    width:300px; 
    height:inherit;
    background-color:rgb(15, 149, 211);
    /* background-image: url("img/4-1.png"); 
    background-size: auto 50px;
    background-position: left top;
    background-repeat: no-repeat; */
}

footer .right{
    position: absolute; 
    right:0;
    width:150px; 
    height:inherit ;
    text-align: right; 
    background-color:rgb(98, 0, 255);
    /* background-image: url("img/4-3.png"); 
    background-size: auto 50px;
    background-position: right top;
    background-repeat: no-repeat; */
}