.people-cam {
    position: relative;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    width: 100%;
    min-width: 150px;
    min-height: 80px;
}

.cam-img {
    min-width: 150px;
    min-width: 80px;
    object-fit: contain;
}

.cam-name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.9rem;
}
