.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: rgb(32, 32, 32);
  position: relative;
  z-index: 111;
  width: var(--sidebar-w);
  overflow: hidden; /* 컨테이너 크기가 줄어들 때 내부 요소 숨김 */
  transition: width 0.3s ease-in-out;
}

/* 워크스페이스 정보 및 열고 닫기 토글 */
.sidebar.is-toggle {
  transform: translateX(-100%);
}

.side-menu {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 100%;
}

.side-profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
}

.side-profile:hover {
  background-color: var(--button-hover);
}

.workspace-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-logo-container {
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.workspace-info > h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.nav-controls-buttons {
  display: flex;
}

.nav-controls-buttons > button {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.nav-toggle-button:hover {
  background-color: var(--button-hover);
}

.sidebar-open-toggle {
  background-color: rgb(32, 32, 32);
}

.sidebar-open-toggle button {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.sidebar-open-toggle:hover {
  background-color: var(--button-hover);
}

/* 손쉬운 접근성 */
.easy-side-controls ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.easy-side-controls li {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 5px;
  cursor: pointer;
}

.easy-side-controls li:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
}

/* 즐겨찾기 */
.side-favorite h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #9b9b9b;
}

/* 워크스페이스 */
.workspace h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #9b9b9b;
}

.work-space-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.workspace-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  gap: 8px;
  padding: 5px;
  color: var(--text);
  cursor: pointer;
}

.workspace-item:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
}

.add-page-button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 5px;
  color: #9b9b9b;
}

.add-page-button-container:hover {
  background-color: var(--button-hover);
  border-radius: 0.375rem;
  cursor: pointer;
}

/* 개인 페이지 */
.personal-space h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #9b9b9b;
}

.personal-space-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
